<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <h1>Results</h1>
        <hr>
        <table>
            {% for item in data %}
            <tr>
                <td>
                    [{{item["owner"]}}]
                </td>
                <td>
                    {{item["text"]}}
                </td>
                <td>
                    <em>--</em>
                    <em>{{item["author"]}}</em>
                </td>
            </tr>
            {% endfor %}
        </table>
        <hr/>
        <a href="/">Return</a>
    </body>
</html>